@font-face {
    font-family: 'Gugi Cyrillic';
    src: url('../assets/fonts/GugiCyrillic.woff2') format('woff2'),
        url('../assets/fonts/GugiCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}