// @import './fonts';

@font-face {
    font-family: 'Gugi Cyrillic';
    src: url('../assets/fonts/GugiCyrillic.woff2') format('woff2'),
        url('../assets/fonts/GugiCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi Cyrillic';
}

body {
    height: 100vh;
    background: center / cover no-repeat url('../assets/bg.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    height: 100%;
    max-height: 635px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba($color: #08deea, $alpha: .5);
    border: 2px solid #08deea;
    border-radius: 10px 0 10px 0;

    &__input {
        // background-color: rgba($color: #08deea, $alpha: .5);
        // border: 2px solid #08deea;
        border-radius: 10px 0 10px 0;
        padding: 20px;
        outline: none;
        resize: none;
        border: none;
        background: none;
        width: 850px;
        height: 300px;
        color: #c4ffff;
        font-size: 16px;

    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 850px;
        margin: 0 auto;
    }

    &__line {
        display: flex;
        gap: 10px;
    }

    &__btn {
        border: 2px solid #08deea;
        height: 45px;
        width: 45px;
        border-radius: 10px 0 10px 0;
        // background-color: rgba($color: #08deea, $alpha: .5);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        transition: .1s;
        cursor: pointer;
        color: #c4ffff;
        user-select: none;

        &_big {
            width: 90px;
            font-size: 14px;
        }

        &_space {
            width: 265px;
        }

        &.hover {
            background-color: rgba($color: #08deea, $alpha: .2);
        }

        &.active {
            background-color: rgba($color: #fd8090, $alpha: .7);
        }
    }
}

